PORT=3001
NODE_ENV=production
FREIGHTCLUB_API_URL=https://api.freightclub.com
FREIGHTCLUB_API_KEY=
FREIGHTCLUB_ACCOUNT_ID=
SHOPIFY_STORE_URL=turn-offroad.myshopify.com
SHOPIFY_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2024-10
TRACKING_POLL_INTERVAL=0 * * * *
